<%- include ("./partials/header.ejs") %>

<div
  class="d-flex flex-column mx-auto my-2 align-items-center shadow"
  style="width: 90vw; height: 90vh; background-color: cadetblue"
>
  <div
    class="list-group align-self-center text-center m-auto fs-1"
    style="width: 75%"
  >
    <a
      href="/manual_post"
      class="list-group-item list-group-item-action mx-auto my-2 align-middle"
      >Click to post data to sheets</a
    >
    <a
      href="/manual_confirm"
      class="list-group-item list-group-item-action mx-auto my-2 align-middle"
      >Click to confirm waras</a
    >
  </div>
</div>

<%- include ("./partials/footer.ejs") %>
